---
layout: compress
---

{% assign hostingURL = "https://pihart.github.io/ClassAssistHosting" %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');

    </script>
    {% endif %}
    
    <meta charset="UTF-8"> 
    
    {% seo %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include firebase.html %}

    <meta name="theme-color" content="{{ site.theme-color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="msapplication-TileColor" content="#2a2f4a">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ hostingURL }}/styles/styles.min.css">

  </head>

  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.github.is_project_page %} {% if site.view_on_github_button %}

      <a href="{{ site.github.repository_url }}" class="btn">
        View on GitHub</a> 
      
      {% endif %} {% endif %} 
      
      {% for button in site.buttons %} 
      
      {% if forloop.first %}
      
      <a href="{{ site.baseurl }}" class="btn"> {{ button }} </a> 
      
      {% else %}
      
      <a href="{{ site.baseurl }}/{{ button | downcase | replace: ' ', '-' }}" class="btn">
        {{ button }} </a>
      
      {% endif %} 
      
      {% endfor %} 
      
      {% if site.change_theme_button %}
      <a class='btn' onclick='{{ site.change_theme_button }}' id="changeTheme">Change Theme</a> 
      {% endif %} 
      
      {% if site.show_downloads %}
      <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
      <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a> 
      {% endif %}
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <script src="{{ hostingURL }}/js/script.min.js"></script>
      {% if page.script %}
        {% assign suffix = "" %}

        {% if page.replaceWithAuthMethod %}
          {% assign suffix = "-" | append: site.authMethod %}
        {% endif %}

        {% assign suffix = suffix | append: ".min.js" %}

        <script src="{{ hostingURL }}/js/{{ page.script | replace: ".min", "" | replace: ".js", suffix }}"></script>
      {% endif %}

    </main>
  </body>

</html>
